$base-color: #D5E0F1;
$main-color: #3261AB;
$sub-color: #8FA7D5;
$accent-color: #2A1F0E;
$code-bgcolor: #FFFFFF;
$code-fgcolor: $accent-color;
$background-color: $base-color;
$foreground-color: $main-color;
$base-size: 12pt;
$tiny-size: 8pt;
$title-size: 48pt;
$header-size: 36pt;
$huge-size: 24pt;
$item-size: 20pt;
$section-size: 16pt;

body {
  background: $background-color;
  color: $foreground-color;
  font-size: $base-size;
}

.title {
  font-size: $title-size;
}
h1 {
  font-size: $header-size;
  a,a:hover,a:visited {
    color: inherit;
    text-decoration: none;
  }
}
h2 {
  font-size: $huge-size;
}
h3 {
  font-size: $section-size;
}
h4 {
  font-size: $item-size;
}
.navibar {
  margin: 20px;
}
hr {
    color: #F0F0F0;
    width: 90%;
}
code {
    background: $code-bgcolor;
}
pre {
  white-space: pre-wrap;
  code {
    background: unset;
  }
}
img {
    width: 100%;
}
.title {
  display: flex;
  justify-content: center;
}
.content-title {
  font-size: $header-size;
}
.subtitle {
    display: flex;
    justify-content: right;
}
.container {
  max-width: calc(800px - 30px * 2);
  justify-content: center;
  h1,h2 {
    a,a:hover,a:visited {
      color: inherit;
      text-decoration: none;
    }
    a,a:hover,a:visited {
      color: $accent-color;
      text-decoration: wavy underline;
    }
    margin-left: auto;
    margin-right: auto;
  }
}
.date {
  display: flex;
  justify-content: right;
}
.end {
  border: solid $sub-color 0.1px;
}
.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  a,a:hover,a:visited {
    color: $background-color;
  }
  .next,.previous,.fist,.last {
    padding: 10px;
    font: bold;
    border: 2px solid;
    border-radius: 10px;
    color: $background-color;
    background: $foreground-color;
  }
}
.footnote-definition {
  display: flex;
  justify-content: flex-start;
}
