<section class="well">
  <ul class="nav">
    <li class="nav-header">Coderwall Badges</li>
  </ul>
  <div id="coderwall_badges"></div>
  <a href="http://coderwall.com/katsyoshi">@katsyoshi</a> on coderwall
  <script type="text/javascript">
    $(document).ready(function(){
      $.getJSON("http://coderwall.com/katsyoshi.json?callback=?", function(data){
        for(var i = 0; i < data.data.badges.length ; i++){
          var badge = data.data.badges[i];
          var badge_tag = $("<img />");
          badge_tag.attr("src",badge.badge);
          badge_tag.css("width","50%");
          $("#coderwall_badges").append(badge_tag);
        }
      });
    });
  </script>
</section>
